.videos{
    /* border: 2px solid red; */
    margin-left: 270px;
    width: 80%;
    /* height: 350px; */
    display: flex;
}
.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .videos iframe {
    width: 100%;
    height: 220px;
  }
  
  @media (max-width: 768px) {
    .videos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .videos {
      grid-template-columns: 1fr;
    }
  }

